#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

table {
  width: 70%;
  border-collapse: collapse;
  margin: 1em 0;
}

th, td {
  border: 2px solid darkgreen;
  padding: 3px 6px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "ingredients planner"
    "meals planner";
}

.container .ingredients {
  grid-area: ingredients;
}

.container .meals {
  grid-area: meals;
}

.container .planner {
  grid-area: planner;
}